[alias]
	au = add -u
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pr = pull --rebase origin master
	ps = push
	st = status
	co = checkout
	cb = checkout -b
	cp = cherry-pick
	br = branch
	cm = commit -s -m
	ca = commit --amend -s --no-edit
	ms = merge --squash
	d = diff
	ds = diff --staged
	dc = diff --cached

[user]
	name = Xiaobo Liu
	email = cppcoffee@gmail.com

[core]
    editor = nvim
    excludesfile = ~/.config/git/ignore

[pager]
    difftool = true
[diff]
    external = difft
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = cppcoffee@gmail.com
	smtpserverport = 587

[credential]
	helper = store
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
