[alias]
	au = add -u
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pr = pull --rebase origin master
	ps = push
	st = status
	co = checkout
	cb = checkout -b
	cp = cherry-pick
	br = branch
	cm = commit -s -m
	ca = commit --amend -s --no-edit
	d = diff
	ds = diff --staged
	dc = diff --cached

[user]
	name = Xiaobo Liu
	email = cppcoffee@gmail.com

[core]
    editor = nvim
	excludesfile = /Users/sharp/.gitignore_global

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/sharp/.stCommitMsg
